//*************** MODAL ****************
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  &-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: .3rem;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
  
    @media screen and (min-width: 576px) {
      max-width: 500px;
    }
  }
  
  &-header, &-body, &-footer {
    padding: 1rem;
  }
  &-header {
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
  }
}
    
.close {
  color: rgba(0, 0, 0, .4);
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

.show {
  display: block;
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

// .btn-success {
//   color: #fff;
//   background-color: #28a745;
//   border-color: #28a745;
// }
